:root {
  --background-color: hsl(212, 45%, 89%);
  --card-color: white;
  --text-color: #393950;
}

* {
  box-sizing: border-box; /* it makes sure padding and border are included in the total width and height of the elements */
}

body {
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
  font-family: "Arial", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0px 0.6rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1.2rem;
  background-color: var(--card-color);
  text-align: center;
  max-width: 300px;
}

@media (max-width: 706px) {
  .card {
    max-width: 90%;
  }
}

.card-text {
  text-align: center;
  padding: 0.6rem;
  color: var(--text-color);
}

img {
  border-radius: 0.8rem;
  width: 100%;
}
