:root {
  --background-color: hsl(212, 45%, 89%);
  --card-color: white;
  --text-color: #393950;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
  font-family: "Arial", sans-serif;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0px 0.6rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1.2rem;
  max-width: 260px;
  background-color: var(--card-color);
  text-align: center;

  @media (max-width: 400px) {
    max-width: 90%;
  }
}

.card-text {
  text-align: center;
  padding: 0.6rem;
  color: var(--text-color);
}

img {
  border-radius: 0.8rem;
  width: 100%;
}
